body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-field {
  border: 2px solid #ccc;
  padding: 2px;
}

.row {
  display: flex;
}

.cell {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 2px;
}

.end-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.end-game h1 {
  font-size: 100px;
  font-weight: 600;
  color: #ccc;
  letter-spacing: 10px;
  text-shadow: 10px 10px 10px #000;
}